<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #formElement="ngForm">
        <div id="user-data"
             ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   id="username"
                   class="form-control"
                   ngModel
                   name="username"
                   required>
          </div>
          <button class="btn btn-default"
                  type="button" (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email"
                   id="email"
                   class="form-control"
                   ngModel
                   name="email"
                   email
                   required
                   #email="ngModel">
            <span *ngIf="!email.valid && email.touched">Email is invalid</span>
          </div>
          <p *ngIf="userData.invalid && userData.touched">Invalid user data</p>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" [ngModel]="defaultQuestion" name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea [(ngModel)]="yourResponse" rows="3" name="questionAnswer" class="form-control"></textarea>
        </div>
        <p>Your reply: {{yourResponse}}</p>
        <div *ngFor="let gender of gender">
          <input type="radio" ngModel [value]="gender" name="gender">
          <label>{{gender}}</label>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!formElement.valid">Submit</button>
        <button class="btn btn-secondary" type="button" (click)="onReset()">Reset</button>
      </form>
    </div>
    <hr>
    <div class="row" *ngIf="submitted">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h3>Your data</h3>
        <ul>
          <li>Username: {{user.username}}</li>
          <li>Mail: {{user.email}}</li>
          <li>Secret question: {{user.secret}}</li>
          <li>Response: {{user.response}}</li>
          <li>Gender: {{user.gender}}</li>
        </ul>
      </div>
    </div>
  </div>

  <hr>
  <h3>Login form</h3>
  <div class="row">
    <form (ngSubmit)="onSubmitLogin()" #loginFormElement="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="emailLogin"
          name="email"
          required email>
      </div>

      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="usernameLogin"
          ngModel name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" ngModel name="password" minlength="5">
      </div>


      <div class="form-group">
        <label>City</label>
        <select [ngModel]="selectedCity" name="city">
          <option *ngFor="let city of cities" [value]="city"> {{city}}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!loginFormElement.valid">Submit</button>
    </form>
  </div>
</div>
