<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signUpForm" (ngSubmit)="onSumbmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control">
              <span *ngIf="!signUpForm.get('userData.username').valid && signUpForm.get('userData.username').touched" class="help-block">
                <span *ngIf="signUpForm.get('userData.username').errors['usernameIsForbidden']">This username is not valid</span>
                <span *ngIf="signUpForm.get('userData.username').errors['required']">Username is required</span>
              </span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control">
              <span *ngIf="!signUpForm.get('userData.email').valid && signUpForm.get('userData.email').touched" class="help-block">Please enter valid email</span>
          </div>
        </div>
        <div class="form-group">
          <label>Gender</label>
          <div class="radio" *ngFor="let gender of genders">
            <label>
              <input
                type="radio"
                formControlName="gender"
                [value]="gender">{{ gender }}
            </label>
          </div>
        </div>        
        <div class="form-group">
          <label>Project name</label>
          <input class="form-control" type="text" name="projectName" formControlName="projectName">
        </div>
        <div class="select">
          <label>Project status</label>
          <select class="form-control" name="projectStatus" formControlName="projectStatus">
            <option *ngFor="let status of projectStatus" [value]="status">{{status}}</option>
          </select>
        </div>
        <div formArrayName="hobbies">
          <h4> My Hobbies</h4>
          <button class="btn btn-default" type="button" (click)="addHobby()">Add hobby</button>
          <div class="form-group" *ngFor="let hobbyControll of controls; let i = index">
            <input class="form-control" type="text" [formControlName]="i"/>
          </div>
        </div>
        <span *ngIf="!signUpForm.valid && signUpForm.touched" class="help-block">Please enter valid data</span>
        <button class="btn btn-primary" [disabled]="!signUpForm.valid && signUpForm.touched" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
